@charset "utf-8";

*,
::beforegit remote -v
::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title{
  height: 310px;
  background-image: url(../images/haikei.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.title h1{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 400px; /* 必要に応じて高さを指定 */
  font-family: "Gamja Flower", sans-serif;
  font-size: 80px;
}

.profile{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile img{
  margin-top: 200px;
  width:500px;
}

.profile-text{
  margin-top:100px;
  font-size: 20px;
  text-align: left;
}

.profile-text h1{
  margin-bottom: 50px;
  color: grey;
  border-bottom: solid 3px #ffc778;
  position: relative;
}
.profile-text h1:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px skyblue;
  bottom: -3px;
  width: 50%;
}

.midasi h1{
  margin-top: 300px;
  margin-bottom: 300px;
  text-align:center;
  position: relative;
  margin-bottom: 0.5rem;
  padding-bottom: 1rem;
  font-weight: bold;
  font-size: 50px;
  color: #353535;
}

.midasi h1::before {
    position: absolute;
    left: -10px;
    bottom: 0px;
    width: 100%;
    height: 10px;
    transform: skew(-45deg);
    background-image: repeating-linear-gradient(90deg, transparent 0 4px, #b3ddb5 4px 8px);
    content: '';
    z-index: -1;
}

.camera {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 200px;
}

.camera img{
  width: 1200px;
}

.camera-text h1{
  font-size: 30px;
  margin-top: 100px;
  margin-bottom: 100px;
  color: #fff;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000,
  -1px 1px 0 #000,  1px -1px 0 #000,
  1px 0 0 #000, -1px  0 0 #000,
  0 1px 0 #000,  0 -1px 0 #000;
}

.camera-text p{
  font-size: 20px;
  max-width: 95%;
  margin-left: 30px;
}

.tour{
  text-align: center;
  margin-top: 200px;
  margin-bottom: 200px;
}

.tour img{

  width: 1200px;
}

.tour-text h1{
  font-size: 30px;
  margin-top: 100px;
  margin-bottom: 100px;
  color: #fff;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000,
  -1px 1px 0 #000,  1px -1px 0 #000,
  1px 0 0 #000, -1px  0 0 #000,
  0 1px 0 #000,  0 -1px 0 #000;
}
.tour-text p{
  font-size: 20px;
  max-width: 95%;
  margin-left: 30px;
}

