@charset "utf-8";

*,
::before
::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title{
  height: 310px;
  background-image: url(../images/haikei.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.title h1{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 400px; 
  font-family: "Gamja Flower", sans-serif;
  font-size: 80px;
}

.turning-title{
  margin-top: 200px;
  margin-bottom: 200px;
  text-align: center;
}

.turning-text{
  margin-top: 100px;
  margin-bottom: 200px;
  text-align: center;
  font-size: 20px;
}

.turning-text h2{
  margin-top: 100px;
  margin-bottom: 100px;
}

.Goal{
  text-align: center;
}

.Goal p{
  font-size: 20px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.Goal-title{
  margin-bottom: 80px;
}