@charset "utf-8";

*,
::before
::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol{
  list-style: none;
}
a{
  color:inherit;
  text-decoration: none;
}


.header-inner {
  max-width: 1500px;
  margin: 0 auto; /* 中央揃え */
  display: flex;
  justify-content: space-between; /*左右に配置 */
  align-items: center;
  padding: 50px;
}

.header-logo{
 flex-shrink: 0; /* サイズを保つ */
 margin-right: 30px; /* メニューとの間に余白 */
}

.header-logo img {
  width: 100px; /* 小さめサイズに調整 */
  height: auto;
  display: block;
}


.site-menu {
  position: relative;
  left: 3%;
  transform: translateX(1%); /* 中央より少し右へ */
}

.site-menu ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
}

.site-menu ul li {
  font-size: 40px;
  padding: 20px 70px;
  list-style: none;
}


.site-menu ul li a{
   font-family: "Gamja Flower", sans-serif;
   font-weight: bold;
}

.fullscreen-image {
  height: 50vh; /* 画面の縦半分だけ使う */
}
.fullscreen-image img {
  padding: 20px;
  box-sizing: border-box;
}
